USE [master]
GO
/****** Object:  Database [AcomodareDB]    Script Date: 26/10/2023 17:22:58 ******/
CREATE DATABASE [AcomodareDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcomodareDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AcomodareDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcomodareDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AcomodareDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcomodareDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcomodareDB]
GO
/****** Object:  Table [dbo].[animais]    Script Date: 26/10/2023 17:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[animais](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Raca] [varchar](50) NULL,
	[Proprietario] [varchar](100) NULL,
	[Cor] [varchar](20) NULL,
	[Pelagem] [varchar](20) NULL,
	[Tamanho] [varchar](20) NULL,
	[Peso] [varchar](20) NULL,
	[Observacoes] [varchar](500) NULL,
	[Ativo] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ID] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pessoas]    Script Date: 26/10/2023 17:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pessoas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Cpf] [varchar](20) NULL,
	[Genero] [varchar](20) NULL,
	[DataNascimento] [datetime2](7) NULL,
	[Endereco] [varchar](50) NULL,
	[Telefone] [varchar](20) NULL,
	[Ativo] [tinyint] NOT NULL,
	[Bairro] [varchar](50) NULL,
	[Cidade] [varchar](80) NULL,
	[Cep] [varchar](20) NULL,
	[UF] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 26/10/2023 17:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NOT NULL,
	[TipoUn] [varchar](50) NULL,
	[CodigoEAN] [varchar](20) NULL,
	[Preco] [decimal](20, 3) NULL,
	[Quantidade] [decimal](20, 3) NULL,
	[Ativo] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 26/10/2023 17:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[Ativo] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[animais] ADD  DEFAULT (NULL) FOR [Nome]
GO
ALTER TABLE [dbo].[animais] ADD  DEFAULT (NULL) FOR [Raca]
GO
ALTER TABLE [dbo].[animais] ADD  DEFAULT (NULL) FOR [Proprietario]
GO
ALTER TABLE [dbo].[animais] ADD  DEFAULT (NULL) FOR [Cor]
GO
ALTER TABLE [dbo].[animais] ADD  DEFAULT (NULL) FOR [Pelagem]
GO
ALTER TABLE [dbo].[animais] ADD  DEFAULT (NULL) FOR [Tamanho]
GO
ALTER TABLE [dbo].[animais] ADD  DEFAULT (NULL) FOR [Peso]
GO
ALTER TABLE [dbo].[animais] ADD  DEFAULT (NULL) FOR [Observacoes]
GO
ALTER TABLE [dbo].[pessoas] ADD  DEFAULT (NULL) FOR [Nome]
GO
ALTER TABLE [dbo].[pessoas] ADD  DEFAULT (NULL) FOR [Cpf]
GO
ALTER TABLE [dbo].[pessoas] ADD  DEFAULT (NULL) FOR [Genero]
GO
ALTER TABLE [dbo].[pessoas] ADD  DEFAULT (NULL) FOR [DataNascimento]
GO
ALTER TABLE [dbo].[pessoas] ADD  DEFAULT (NULL) FOR [Endereco]
GO
ALTER TABLE [dbo].[pessoas] ADD  DEFAULT (NULL) FOR [Telefone]
GO
ALTER TABLE [dbo].[produtos] ADD  DEFAULT (NULL) FOR [TipoUn]
GO
ALTER TABLE [dbo].[produtos] ADD  DEFAULT (NULL) FOR [CodigoEAN]
GO
ALTER TABLE [dbo].[produtos] ADD  DEFAULT (NULL) FOR [Preco]
GO
ALTER TABLE [dbo].[produtos] ADD  DEFAULT (NULL) FOR [Quantidade]
GO
ALTER TABLE [dbo].[animais]  WITH CHECK ADD CHECK  (([Id]>(0)))
GO
USE [master]
GO
